.jumbotron {
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
    url('/images/properties/4/home.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.jumbotron h1 {
    color: #ffffff !important;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 3rem; 
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.jumbotron p {
    color: #ffffff !important;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

.login-form-card, .register-form-card {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
